<!DOCTYPE html>
<html lang="pt_BR" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:replace="~{fragments :: mainHeader('Dashboard')}"></head>

    <body class="bg-sky-100">
        <div th:replace="~{fragments :: toasts}"></div>

        <header th:replace="~{fragments :: header}"></header>

        <div class="flex flex-col items-center sm:m-4">
            <div
                class="flex flex-col sm:flex-row justify-evenly items-center sm:items-start sm:bg-white sm:shadow-md sm:px-6 sm:pt-8 sm:pb-8 rounded w-full max-w-lg gap-3 sm:gap-1"
            >
                <a href="/cadastro/dentista" class="primary-btn">
                    Cadastro de Dentista
                </a>

                <a href="/listagem/usuario" class="primary-btn">
                    Listagem de Usuários
                </a>
            </div>
        </div>
    </body>
</html>
