<!DOCTYPE html>
<html lang="pt_BR" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <th:block
            th:replace="~{fragments :: mainHeader('Listagem de Usuários')}"
        />

        <script
            defer
            src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
        ></script>
        <script
            defer
            src="https://unpkg.com/htmx.org@1.9.6"
            integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
            crossorigin="anonymous"
        ></script>
    </head>

    <body class="bg-sky-100" x-data="{ modalVisivel: false, idUsuario : 0 }">
        <div th:replace="~{fragments :: toasts}"></div>

        <header th:replace="~{fragments :: header}"></header>

        <div class="flex flex-col items-center justify-center sm:my-4 sm:mx-4">
            <div
                class="flex w-full flex-col items-center sm:m-4 px-2 sm:bg-white sm:shadow-md sm:px-8 sm:pt-6 sm:pb-8"
            >
                <h1
                    class="font-bold text-2xl text-center text-gray-700 uppercase tracking-wide mb-2"
                >
                    Usuários
                </h1>

                <div
                    class="self-start sm:self-center bg-white rounded w-full relative overflow-x-auto px-1 sm:mx-0"
                >
                    <table
                        th:replace="~{admin/tabelaUsuarios :: tabela}"
                    ></table>
                </div>

                <a href="/" class="link mt-2">Voltar</a>
            </div>
        </div>

        <div
            x-show="modalVisivel"
            class="fixed inset-0 w-full h-full flex flex-col items-center justify-center"
        >
            <div
                @click="modalVisivel=false"
                class="absolute left-0 top-0 bg-sky-50 bg-opacity-60 w-full h-full"
            ></div>

            <div id="modalContent" class="transform w-full max-w-sm"></div>
        </div>
    </body>
</html>
