<!DOCTYPE html>
<html lang="pt_BR">
    <head th:replace="~{fragments :: mainHeader('Agendamento')}"></head>

    <body class="bg-sky-100">
        <header th:replace="~{fragments :: header}"></header>
        <div class="flex flex-col items-center">
            <form
                class="flex flex-col sm:bg-white sm:shadow-md sm:rounded px-6 py-0 sm:py-8 w-full max-w-lg gap-1"
                action="/agendamento"
                enctype="utf8"
                method="POST"
                th:object="${agendamentoDTO}"
            >
                <h1
                    class="font-bold text-2xl text-center text-gray-700 uppercase tracking-wide mb-2"
                >
                    Novo Agendamento
                </h1>

                <label class="label" for="tipoAgendamento">
                    Tipo de Agendamento
                </label>
                <select
                    class="input appearance-none"
                    id="tipoAgendamento"
                    th:field="*{tipo.id}"
                >
                    <option value="-1">
                        Selecionar um tipo de agendamento
                    </option>
                    <option
                        th:each="tipoAgendamento : ${tiposAgendamento}"
                        th:text="${tipoAgendamento.getDescricao()}"
                        th:value="${tipoAgendamento.ordinal()}"
                    ></option>
                </select>
                <div th:replace="~{fragments :: listaErros('tipo.id')}"></div>

                <label class="label mt-3" for="dentista">Dentista</label>
                <select
                    class="input appearance-none"
                    id="dentista"
                    th:field="*{idDentista}"
                >
                    <option value="-1">Selecionar um profissional</option>
                    <option
                        th:each="dentista : ${dentistas}"
                        th:text="${dentista.getPessoa().getNome()}"
                        th:value="${dentista.getId()}"
                    ></option>
                </select>
                <div
                    th:replace="~{fragments :: listaErros('idDentista')}"
                ></div>

                <label class="label mt-3" for="dataConsulta">
                    Data da Consulta
                </label>
                <input
                    class="input"
                    id="dataConsulta"
                    name="dataConsulta"
                    th:field="*{dataConsulta}"
                    type="date"
                />
                <div
                    th:replace="~{fragments :: listaErros('dataConsulta')}"
                ></div>

                <label class="label mt-3">Hora da Consulta</label>
                <div
                    class="grid grid-cols-2 justify-items-center bg-white sm:bg-transparent self-stretch mx-10 py-3 rounded gap-y-2"
                >
                    <div class="self-start">
                        <input
                            class="checked:bg-blue-400"
                            id="radioHora1"
                            name="horaConsulta"
                            th:field="*{horaConsulta}"
                            type="radio"
                            value="9:00"
                        />
                        <label class="label" for="radioHora1">09:00</label>
                    </div>
                    <div>
                        <input
                            id="radioHora2"
                            name="horaConsulta"
                            th:field="*{horaConsulta}"
                            type="radio"
                            value="10:00"
                        />
                        <label class="label" for="radioHora2">10:00</label>
                    </div>
                    <div>
                        <input
                            id="radioHora3"
                            name="horaConsulta"
                            th:field="*{horaConsulta}"
                            type="radio"
                            value="11:00"
                        />
                        <label class="label" for="radioHora3">11:00</label>
                    </div>
                    <div>
                        <input
                            id="radioHora4"
                            name="horaConsulta"
                            th:field="*{horaConsulta}"
                            type="radio"
                            value="13:00"
                        />
                        <label class="label" for="radioHora4">13:00</label>
                    </div>

                    <div>
                        <input
                            id="radioHora5"
                            name="horaConsulta"
                            th:field="*{horaConsulta}"
                            type="radio"
                            value="14:00"
                        />
                        <label class="label" for="radioHora5">14:00</label>
                    </div>

                    <div>
                        <input
                            id="radioHora6"
                            name="horaConsulta"
                            th:field="*{horaConsulta}"
                            type="radio"
                            value="15:00"
                        />
                        <label class="label" for="radioHora6">15:00</label>
                    </div>
                </div>
                <div
                    th:replace="~{fragments :: listaErros('horaConsulta')}"
                ></div>

                <label class="label mt-3" for="inputObservacoes">
                    Observações
                </label>
                <textarea
                    class="input resize-none"
                    rows="3"
                    id="inputObservacoes"
                    name="observacoes"
                    th:field="*{observacoesPaciente}"
                    type="textarea"
                ></textarea>

                <label class="label mt-3" for="formaPagamento">
                    Forma de Pagamento
                </label>
                <select
                    class="input appearance-none"
                    id="formaPagamento"
                    th:field="*{formaPagamento.id}"
                >
                    <option value="-1">Selecionar um tipo de Pagamento</option>
                    <option
                        th:each="formaPagamento : ${formasPagamento}"
                        th:text="${formaPagamento.getDescricao()}"
                        th:value="${formaPagamento.ordinal()}"
                    ></option>
                </select>
                <div
                    th:replace="~{fragments :: listaErros('formaPagamento.id')}"
                ></div>

                <div
                    class="flex flex-row self-stretch justify-evenly sm:self-end gap-2 mt-6 mb-4"
                >
                    <a class="secondary-btn" href="/"> Cancelar </a>

                    <input
                        type="submit"
                        class="primary-btn"
                    />
                </div>
            </form>
        </div>
    </body>
</html>
