<!DOCTYPE html>
<html lang="pt_BR" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <th:block
            th:replace="~{fragments :: mainHeader('Dashboard')}"
        ></th:block>
        <link th:href="@{/css/calendario.css}" rel="stylesheet">
        <script
            defer
            src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
        ></script>
        <script
            crossorigin="anonymous"
            defer
            integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
            src="https://unpkg.com/htmx.org@1.9.6"
        ></script>
    </head>

    <body class="bg-sky-100" x-data="{ modalVisivel: false }">
        <div th:replace="~{fragments :: toasts}"></div>

        <header th:replace="~{fragments :: header}"></header>

        <div class="sm:flex items-start justify-evenly">
            <div
                class="border rounded max-w-xl w-full py-2 mb-5 flex flex-col px-8 pb-10 pt-3 bg-white shadow-md"
            >
                <h1
                    class="font-bold text-xl text-center mt-3 mb-6 text-gray-700"
                >
                    Agendamentos
                </h1>
                <table class="min-w-full divide-y divide-slate-800">
                    <thead>
                        <tr class="text-slate-500">
                            <th
                                class="p-2 font-normal text-left uppercase"
                                scope="col"
                            >
                                Nome
                            </th>
                            <th
                                class="p-2 font-normal text-left uppercase"
                                scope="col"
                            >
                                Horário
                            </th>
                            <th
                                class="p-2 font-normal text-left uppercase"
                                scope="col"
                            >
                                Ações
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:if="${agendamentos.isEmpty()}">
                            <td
                                colspan="3"
                                class="p-2 text-gray-700 text-center font-semibold"
                            >
                                Sem agendamentos precisando de confirmação.
                            </td>
                        </tr>
                        <tr
                            class="odd:bg-white even:bg-slate-100"
                            th:each="agendamento : ${agendamentos}"
                        >
                            <td
                                class="p-2 text-gray-700 font-semibold"
                                th:text="${agendamento.getPaciente().getPessoa().getNome()}"
                            ></td>
                            <td
                                class="p-2 text-gray-700"
                                th:text="${#dates.format(agendamento.getDataConsulta(),'dd/MM/yyyy') + ' ' + #dates.format(agendamento.getHoraConsulta(),'HH:mm')}"
                            ></td>
                            <td class="p-2">
                                <a
                                    class="link"
                                    alt="confirmarAgendamento"
                                    th:href="@{/agendamento/{id}(id=${agendamento.getId()})}"
                                >
                                    Confirmar
                                </a>
                                <a
                                    alt="Recusar Agendamento"
                                    class="link"
                                    hx-target="#modalContent"
                                    th:attr="'@'+click=|modalVisivel=true|,hx-get='/agendamento/recusar/'+${agendamento.getId()}"
                                >
                                    Recusar
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div
                class="border py-2 rounded max-w-5xl w-full flex flex-col px-8 pb-10 pt-3 bg-white shadow-md"
            >
                <h1 class="font-bold text-xl text-center mt-3 text-gray-700">
                    Consultas
                </h1>
                <div id="calendario"></div>
            </div>
        </div>

        <div id="modalAux" class="modal">
            <div class="conteudoModal">
                <span class="close" onclick="fecharModal()">&times;</span>
                <div id="conteudoModal"></div>
            </div>
        </div>

        <div
            class="fixed inset-0 w-full h-full flex flex-col items-center modal justify-center"
            id="modal" x-show="modalVisivel"
        >
            <div
                @click="modalVisivel=false"
                class="absolute left-0 top-0 bg-sky-50 bg-opacity-60 w-full h-full"
            ></div>

            <div class="transform w-full max-w-sm" id="modalContent"></div>
        </div>
    </body>

    <script th:src="@{/scripts/calendario.js}"></script>
    <script th:inline="javascript">
        const consultas = JSON.parse(/*[[${consultas}]]*/);
        console.log(consultas)
        Calendario.init(consultas);
        function fecharModal() {
            this.modal.style.display = 'none';
        }
    </script>
</html>
