* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#central {
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    width: 1440px;
    margin: auto;
    gap: 20px;
}

title {
    display: flex;
    font-size: x-large;
    font-weight: bold;
}
