<!DOCTYPE html>
<html lang="pt_BR" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <th:block
            th:replace="~{fragments :: mainHeader('Cadastro de Dentista')}"
        />

        <script
            defer
            src="https://cdn.jsdelivr.net/npm/@alpinejs/mask@3.x.x/dist/cdn.min.js"
        ></script>
        <script
            defer
            src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
        ></script>

        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
        />
    </head>

    <body class="bg-sky-100">
        <header th:replace="~{fragments :: header}"></header>
        <div class="flex flex-col items-center m-4">
            <div class="w-full max-w-lg">
                <form
                    action="/cadastro/dentista"
                    enctype="utf8"
                    method="POST"
                    th:object="${cadastroDentistaDTO}"
                    class="flex flex-col bg-white shadow-md px-6 pt-8 pb-8 rounded w-full max-w-lg gap-1"
                >
                    <h1
                        class="font-bold text-2xl text-center text-gray-700 uppercase tracking-wide mb-2"
                    >
                        Cadastro de Dentista
                    </h1>

                    <h2 class="text-gray-600 font-bold uppercase mt-4 mb-1">
                        Informações gerais
                    </h2>

                    <label class="label" for="nome">Nome completo</label>
                    <input
                        id="nome"
                        class="input"
                        placeholder="João da Silva"
                        th:field="*{pessoaDTO.nome}"
                        type="text"
                    />
                    <div
                        th:replace="~{fragments :: listaErros('pessoaDTO.nome')}"
                    ></div>

                    <div class="flex -mx-2 mt-3">
                        <div class="w-1/2 px-2 flex flex-col gap-1">
                            <label class="label" for="cpf">CPF</label>
                            <input
                                id="cpf"
                                class="input"
                                placeholder="123.456.789-09"
                                th:field="*{pessoaDTO.cpf}"
                                type="text"
                                x-data=""
                                x-mask="999.999.999-99"
                            />
                            <div
                                th:replace="~{fragments :: listaErros('pessoaDTO.cpf')}"
                            ></div>
                        </div>

                        <div class="w-1/2 px-2 flex flex-col gap-1">
                            <label class="label" for="identidade">RG</label>
                            <input
                                id="identidade"
                                class="input"
                                placeholder="123456789"
                                th:field="*{pessoaDTO.rg}"
                                type="text"
                            />
                            <div
                                th:replace="~{fragments :: listaErros('pessoaDTO.rg')}"
                            ></div>
                        </div>
                    </div>

                    <div class="flex -mx-2 mt-3">
                        <div class="w-1/2 px-2 flex flex-col gap-1">
                            <label class="label" for="dataNascimento">
                                Data de Nascimento
                            </label>
                            <input
                                id="dataNascimento"
                                class="input"
                                placeholder="01/01/1970"
                                th:field="*{pessoaDTO.dataNascimento}"
                                type="date"
                            />
                            <div
                                th:replace="~{fragments :: listaErros('pessoaDTO.dataNascimento')}"
                            ></div>
                        </div>
                        <div class="w-1/2 px-2 flex flex-col gap-1">
                            <label class="label" for="genero">Gênero</label>
                            <select
                                id="genero"
                                class="input"
                                th:field="*{pessoaDTO.idGenero}"
                            >
                                <option value="-1">
                                    -- Selecione a opção --
                                </option>
                                <option
                                    th:each="genero : ${generos}"
                                    th:text="${genero.getDescricao()}"
                                    th:value="${genero.ordinal()}"
                                ></option>
                            </select>
                            <div
                                th:replace="~{fragments :: listaErros('pessoaDTO.idGenero')}"
                            ></div>
                        </div>
                    </div>

                    <label class="label mt-3" for="senha">Senha</label>
                    <div x-data="{ visivel: false }" class="relative">
                        <input
                            id="senha"
                            autocomplete="off"
                            class="input w-full"
                            placeholder="********"
                            th:field="*{senha}"
                            :type="visivel ? 'text' : 'password'"
                        />
                        <div
                            class="absolute top-1/2 right-4 cursor-pointer"
                            style="transform: translateY(-50%)"
                        >
                            <i
                                :class="visivel ? 'bi bi-eye-slash-fill' : 'bi bi-eye-fill'"
                                class="text-slate-600 block"
                                @click="visivel=!visivel"
                            ></i>
                        </div>
                    </div>
                    <div th:replace="~{fragments :: listaErros('senha')}"></div>

                    <h2 class="text-gray-600 font-bold uppercase mt-4 mb-1">
                        Contato
                    </h2>
                    <div class="flex -mx-2">
                        <div class="w-1/2 px-2 flex flex-col gap-1">
                            <label class="label" for="celular">Celular</label>
                            <input
                                id="celular"
                                class="input"
                                placeholder="(84) 9 1234-5678"
                                th:field="*{pessoaDTO.celular}"
                                x-data=""
                                x-mask="(99) 9 9999-9999"
                            />
                            <div
                                th:replace="~{fragments :: listaErros('pessoaDTO.celular')}"
                            ></div>
                        </div>
                        <div class="w-1/2 px-2 flex flex-col gap-1">
                            <label class="label" for="email">E-mail</label>
                            <input
                                id="email"
                                class="input"
                                placeholder="joao.silva@email.com"
                                th:field="*{pessoaDTO.email}"
                                type="email"
                            />
                            <div
                                th:replace="~{fragments :: listaErros('pessoaDTO.email')}"
                            ></div>
                        </div>
                    </div>

                    <div class="self-end flex gap-2 mt-6 mb-4">
                        <a
                            class="border border-blue-400 text-blue-400 hover:text-blue-500 hover:border-blue-500 font-bold py-2 px-4 rounded self-end shadow-sm hover:shadow"
                            href="/"
                        >
                            Voltar
                        </a>

                        <input
                            type="submit"
                            class="primary-btn self-end"
                            value="Cadastrar"
                        />
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
