<!DOCTYPE html>
<html lang="pt_BR" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:replace="~{fragments :: header('Cadastro de Paciente')}"></head>

    <body class="bg-sky-100">
        <div class="flex flex-col items-center my-4 justify-center">
            <div class="w-full max-w-lg">
                <form
                    action="/cadastro/paciente"
                    enctype="utf8"
                    method="POST"
                    th:object="${cadastroPacienteDTO}"
                    class="bg-white shadow-md px-8 pt-6 pb-8 rounded w-full max-w-lg flex flex-col"
                >
                    <h1
                        class="font-bold text-3xl text-center mt-3 text-gray-800"
                    >
                        Cadastro de Paciente
                    </h1>

                    <h2 class="text-gray-700 font-bold mt-5 mb-1 uppercase">
                        Informações gerais
                    </h2>
                    <div>
                        <label
                            class="font-medium text-gray-700 block"
                            for="nome"
                        >
                            Nome completo:
                        </label>
                        <input
                            id="nome"
                            class="form-input bg-slate-100 text-gray-700 outline-blue-400"
                            placeholder="João da Silva"
                            th:field="*{pessoaDTO.nome}"
                            type="text"
                        />
                        <div
                            th:replace="~{fragments :: listaErros('pessoaDTO.nome')}"
                        ></div>
                    </div>
                    <div class="flex -mx-2 mt-2">
                        <div class="w-1/2 px-2">
                            <label
                                class="font-medium text-gray-700 block"
                                for="cpf"
                            >
                                CPF:
                            </label>
                            <input
                                id="cpf"
                                class="form-input bg-slate-100 text-gray-700 outline-blue-400"
                                placeholder="123.456.789-09"
                                th:field="*{pessoaDTO.cpf}"
                                type="text"
                            />
                            <div
                                th:replace="~{fragments :: listaErros('pessoaDTO.cpf')}"
                            ></div>
                        </div>

                        <div class="w-1/2 px-2">
                            <label
                                class="font-medium text-gray-700 block"
                                for="identidade"
                            >
                                RG:
                            </label>
                            <input
                                id="identidade"
                                class="form-input bg-slate-100 text-gray-700 outline-blue-400"
                                placeholder="123456789"
                                th:field="*{pessoaDTO.rg}"
                                type="text"
                            />
                            <div
                                th:replace="~{fragments :: listaErros('pessoaDTO.rg')}"
                            ></div>
                        </div>
                    </div>

                    <div class="flex -mx-2 mt-2">
                        <div class="w-1/2 px-2">
                            <label
                                class="font-medium text-gray-700 block"
                                for="dataNascimento"
                                >Data de Nascimento:</label
                            >
                            <input
                                id="dataNascimento"
                                class="form-input bg-slate-100 text-gray-700 outline-blue-400"
                                placeholder="01/01/1970"
                                th:field="*{pessoaDTO.dataNascimento}"
                                type="date"
                            />
                            <div
                                th:replace="~{fragments :: listaErros('pessoaDTO.dataNascimento')}"
                            ></div>
                        </div>
                        <div class="w-1/2 px-2">
                            <label
                                class="font-medium text-gray-700 block"
                                for="genero"
                                >Gênero:</label
                            >
                            <select
                                id="genero"
                                class="form-input bg-slate-100 text-gray-700 outline-blue-400"
                                th:field="*{pessoaDTO.idGenero}"
                            >
                                <option value="-1">
                                    -- Selecione a opção --
                                </option>
                                <option
                                    th:each="genero : ${generos}"
                                    th:text="${genero.getDescricao()}"
                                    th:value="${genero.ordinal()}"
                                ></option>
                            </select>
                            <div
                                th:replace="~{fragments :: listaErros('pessoaDTO.idGenero')}"
                            ></div>
                        </div>
                    </div>

                    <label
                        class="font-medium text-gray-700 block mt-2"
                        for="senha"
                    >
                        Senha:
                    </label>
                    <input
                        id="senha"
                        class="form-input bg-slate-100 text-gray-700 outline-blue-400"
                        placeholder="********"
                        th:field="*{senha}"
                        type="password"
                    />
                    <div th:replace="~{fragments :: listaErros('senha')}"></div>

                    <h2 class="text-gray-700 font-bold mt-5 mb-1 uppercase">
                        Contato
                    </h2>
                    <div class="flex -mx-2">
                        <div class="w-1/2 px-2">
                            <label
                                class="font-medium text-gray-700 block"
                                for="celular"
                                >Celular:</label
                            >
                            <input
                                id="celular"
                                class="form-input bg-slate-100 text-gray-700 outline-blue-400"
                                placeholder="(84) 9 1234-5678"
                                th:field="*{pessoaDTO.celular}"
                                type="tel"
                            />
                            <div
                                th:replace="~{fragments :: listaErros('pessoaDTO.celular')}"
                            ></div>
                        </div>
                        <div>
                            <label
                                class="font-medium text-gray-700 block"
                                for="email"
                                >E-mail:</label
                            >
                            <input
                                id="email"
                                class="form-input bg-slate-100 text-gray-700 outline-blue-400"
                                placeholder="joao.silva@email.com"
                                th:field="*{pessoaDTO.email}"
                                type="email"
                            />
                            <div
                                th:replace="~{fragments :: listaErros('pessoaDTO.email')}"
                            ></div>
                        </div>
                    </div>

                    <h2 class="text-gray-700 font-bold mt-5 mb-1 uppercase">
                        Endereço
                    </h2>

                    <label
                        class="font-medium text-gray-700 block mt-2"
                        for="logradouro"
                        >Logradouro:</label
                    >
                    <input
                        id="logradouro"
                        class="form-input bg-slate-100 text-gray-700 outline-blue-400"
                        placeholder="Av. Cap. Mor Gouveia"
                        th:field="*{pessoaDTO.enderecoDTO.logradouro}"
                        type="text"
                    />
                    <div
                        th:replace="~{fragments :: listaErros('pessoaDTO.enderecoDTO.logradouro')}"
                    ></div>

                    <label
                        class="font-medium text-gray-700 block mt-2"
                        for="bairro"
                        >Bairro:</label
                    >
                    <input
                        id="bairro"
                        class="form-input bg-slate-100 text-gray-700 outline-blue-400"
                        placeholder="Lagoa Nova"
                        th:field="*{pessoaDTO.enderecoDTO.bairro}"
                        type="text"
                    />
                    <div
                        th:replace="~{fragments :: listaErros('pessoaDTO.enderecoDTO.bairro')}"
                    ></div>

                    <label class="font-medium text-gray-700 block" for="cidade"
                        >Cidade:</label
                    >
                    <input
                        id="cidade"
                        class="form-input bg-slate-100 text-gray-700 outline-blue-400 mt-2"
                        placeholder="Natal"
                        th:field="*{pessoaDTO.enderecoDTO.cidade}"
                        type="text"
                    />
                    <div
                        th:replace="~{fragments :: listaErros('pessoaDTO.enderecoDTO.cidade')}"
                    ></div>

                    <div class="flex -mx-2">
                        <div class="w-1/3 px-2">
                            <label
                                class="font-medium text-gray-700 block"
                                for="cep"
                                >CEP:</label
                            >
                            <input
                                id="cep"
                                class="form-input bg-slate-100 text-gray-700 outline-blue-400"
                                placeholder="59078-900"
                                th:field="*{pessoaDTO.enderecoDTO.cep}"
                                type="text"
                            />
                            <div
                                th:replace="~{fragments :: listaErros('pessoaDTO.enderecoDTO.cep')}"
                            ></div>
                        </div>
                        <div class="w-1/3 px-2">
                            <label
                                class="font-medium text-gray-700 block"
                                for="numero"
                                >Número:</label
                            >
                            <input
                                id="numero"
                                class="form-input bg-slate-100 text-gray-700 outline-blue-400"
                                placeholder="01"
                                th:field="*{pessoaDTO.enderecoDTO.numero}"
                                type="text"
                            />
                            <div
                                th:replace="~{fragments :: listaErros('pessoaDTO.enderecoDTO.numero')}"
                            ></div>
                        </div>
                        <div class="w-1/3 px-2">
                            <label
                                class="font-medium text-gray-700 block"
                                for="UF"
                                >UF:</label
                            >
                            <input
                                id="UF"
                                class="form-input bg-slate-100 text-gray-700 outline-blue-400"
                                placeholder="RN"
                                th:field="*{pessoaDTO.enderecoDTO.uf}"
                                type="text"
                            />
                            <div
                                th:replace="~{fragments :: listaErros('pessoaDTO.enderecoDTO.uf')}"
                            ></div>
                        </div>
                    </div>

                    <div class="text-gray-500 self-center mb-3 mt-2">
                        Já possui um cadastro?
                        <a
                            href="/login"
                            class="text-blue-400 hover:text-blue-500 underline font-semibold"
                        >
                            Entrar
                        </a>
                    </div>

                    <input
                        type="submit"
                        class="inline bg-blue-400 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline self-center"
                        value="Registrar"
                    />
                </form>
            </div>
        </div>
    </body>
</html>
