<!DOCTYPE html>
<html lang="pt_BR">
    <head th:replace="~{fragments :: mainHeader('Consulta')}"></head>

    <body class="bg-sky-100">
        <div class="flex flex-col my-4 items-center">
            <form
                class="border rounded max-w-lg w-full flex flex-col px-8 pt-3 pb-5 bg-white shadow-md gap-3"
                th:action="@{/consulta/__${idConsulta}__}"
                enctype="utf8"
                method="POST"
                th:object="${consultaDTO}"
            >
                <h1
                    class="font-bold text-2xl text-center text-gray-700 uppercase tracking-wide mb-2"
                >
                    Consulta
                </h1>

                <h2
                    class="text-gray-600 font-bold text-center uppercase mt-4 mb-1"
                >
                    Informações do Agendamento
                </h2>

                <label class="label font-semibold">
                    Tipo de Agendamento:
                    <span
                        class="font-normal text-slate-500"
                        th:text="${agendamento.getTipo().getDescricao()}"
                    ></span>
                </label>

                <label class="label font-semibold">
                    Dentista:
                    <span
                        class="font-normal text-slate-500"
                        th:text="${agendamento.getDentista().getPessoa().getNome()}"
                    ></span>
                </label>

                <label class="label font-semibold">
                    Paciente:
                    <span
                        class="font-normal text-slate-500"
                        th:text="${agendamento.getPaciente().getPessoa().getNome()}"
                    ></span>
                </label>

                <label class="label font-semibold">
                    Data da Consulta:
                    <span
                        class="font-normal text-slate-500"
                        th:text="${#dates.format(agendamento.getDataConsulta(),'dd/MM/yyyy')}"
                    ></span>
                </label>

                <label class="label font-semibold">
                    Hora da Consulta:
                    <span
                        class="font-normal text-slate-500"
                        th:text="${#dates.format(agendamento.getHoraConsulta(),'HH:mm')}"
                    ></span>
                </label>

                <label class="label font-semibold">
                    Observações do Paciente:
                    <span
                        class="font-normal text-slate-500"
                        th:text="${agendamento.getObservacoesPaciente()}"
                    ></span>
                </label>

                <label class="label font-semibold">
                    Forma de Pagamento:
                    <span
                        class="font-normal text-slate-500"
                        th:text="${agendamento.getFormaPagamento().getDescricao()}"
                    ></span>
                </label>

                <label class="label font-semibold mt-2" for="inputDescricao">
                    Descrição
                </label>
                <textarea
                    class="input resize-none"
                    rows="3"
                    id="inputDescricao"
                    name="descricao"
                    th:field="*{descricao}"
                    type="textarea"
                ></textarea>

                <div
                    class="flex flex-row self-stretch justify-evenly sm:self-end gap-2 mt-2"
                >
                    <a class="secondary-btn" href="/">Cancelar</a>

                    <input
                        type="submit"
                        class="primary-btn"
                        value="Confirmar Agendamento"
                    />
                </div>
            </form>
        </div>
    </body>
</html>
