<!DOCTYPE html>
<html lang="pt_BR" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments :: mainHeader('Error')}"></head>

<body class="bg-sky-100">
<div class="h-screen flex flex-col items-center justify-center gap-10">
  <img class="max-w-md" th:src="@{/images/faviconsad.png}"/>
    <div class="relative p-6">
      <p class="font-bold text-xl">Alguma coisa deu errado! Retorne para a pagina inicial <a class="link" href="/">clicando aqui.</a></p>
    </div>
</div>
</body>
</html>
