<div xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:fragment="mainHeader(titulo)">
        <meta charset="UTF-8" />
        <meta
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
            name="viewport"
        />
        <meta content="ie=edge" http-equiv="X-UA-Compatible" />
        <title th:text="${titulo}"></title>

        <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.png}" />
        <link th:href="@{/css/tailwind.css}" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js"></script>
    </head>

    <header
        th:fragment="header"
        class="bg-white flex justify-between px-10 py-2 mb-10 border-b-4 border-b-blue-400 shadow-sm items-center"
    >
        <a href="/">
            <img class="max-h-10" th:src="@{/images/SGCO.png}" />
        </a>
        <a href="/logout" class="link">Sair</a>
    </header>

    <ul
        class="list-none list-inside"
        th:fragment="listaErros(campo)"
        th:if="${#fields.hasErrors(campo)}"
    >
        <li class="text-rose-500 mb-1" th:each="err : ${#fields.errors(campo)}">
            <span th:text="${err}"></span>
        </li>
    </ul>

    <div id="toasts" th:fragment="toasts" th:if="${mensagens != null}">
        <ul id="sucessos" th:if="${not #lists.isEmpty(mensagens.sucessos)}">
            <li class="mb-1" th:each="mensagem : ${mensagens.sucessos}">
                <i
                    class="bi bi-check-lg bg-lime-300 border-2 border-slate-600 text-slate-600 rounded-full inline px-0.5 mr-1"
                ></i>
                <span th:text="${mensagem}"></span>
            </li>
        </ul>
        <ul id="avisos" th:if="${not #lists.isEmpty(mensagens.avisos)}">
            <li class="mb-1" th:each="mensagem : ${mensagens.avisos}">
                <i
                    class="bi bi-exclamation-lg bg-amber-300 border-2 border-slate-600 text-slate-600 rounded-full inline px-0.5 mr-1"
                ></i>
                <span th:text="${mensagem}"></span>
            </li>
        </ul>
        <ul id="erros" th:if="${not #lists.isEmpty(mensagens.erros)}">
            <li class="mb-1" th:each="mensagem : ${mensagens.erros}">
                <i
                    class="bi bi-x-lg bg-rose-300 border-2 border-slate-600 text-slate-600 rounded-full inline px-1 mr-1"
                ></i>
                <span th:text="${mensagem}"></span>
            </li>
        </ul>

        <script>
            setTimeout(() => {
                document.getElementById("toasts").classList.add("hidden");
            }, 5000);
        </script>
    </div>
</div>
