<!doctype html>
<html lang="pt_BR" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Dashboard</title>
</head>
<body>
<a href="/logout">Sair</a>
<a href="/agendamento">Agendamento</a>
<h1 th:text="${usuario.pessoa.nome}"></h1>
<p>Você agora está logado. (Paciente)</p>
</body>
</html>