<!doctype html>
<html lang="pt_BR" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Dashboard</title>
</head>
<body>
<a href="/logout">Sair</a>
<h1 th:text="${usuario.pessoa.nome}"></h1>
<p>Você agora está logado. (Dentista)</p>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Nome</th>
        <th scope="col">Horário</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr  th:each="agendamento : ${agendamentos}"   class="list-group-item">
        <td th:text="${agendamento.getPaciente().getPessoa().getNome()}"></td>
        <td th:text="${#dates.format(agendamento.getDataConsulta(),'dd/MM/yyyy') + ' ' + #dates.format(agendamento.getHoraConsulta(),'HH:mm')}"></td>
        <td><a th:href="@{/agendamento/{id}(id=${agendamento.getId()})}">✓</a></td>
    </tr>
    <li></li>
    </tbody>
</table>

</body>
</html>