<!doctype html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Dashboard</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div id="central">
<a href="/logout">Sair</a>

<h1>Página Admin</h1>

<a href="/cadastro/dentista">Cadastro de Dentista</a>
</div>
</body>
</html>