<!doctype html>
<html lang="pt_BR" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments :: header('Dashboard')}"></head>
<body>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">Página Admin</span>

            <div class="mdl-layout-spacer"></div>

            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="/logout">Sair</a>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Página Admin</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>

        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="page-content">
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="/cadastro/dentista">
                Cadastro de Dentista
            </a>
        </div>
    </main>
</div>

</body>
</html>