<!DOCTYPE html>
<html lang="pt_BR" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:replace="~{fragments :: header('Dashboard')}"></head>

    <body class="bg-slate-50">
        <header class="flex px-2 mb-4 py-2 bg-blue-500">
            <span class="font-bold text-3xl text-center text-white">
                Portal do Paciente
            </span>

            <div class="grow"></div>

            <a href="/logout" class="text-white underline font-semibold leading-loose">
                Sair
            </a>
        </header>

        <div class="mx-2">
            <a
                href="/agendamento"
                class="mb-4 bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline self-end"
            >
                Agendamento
            </a>
        </div>
    </body>
</html>
