<!DOCTYPE html>
<html lang="pt_BR" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:replace="~{fragments :: mainHeader('Dashboard')}"></head>

    <body class="bg-sky-100">
    <header th:replace="~{fragments :: header('Agendamento')}"></header>

        <div class="mx-20 flex flex-col items-start">
            <a
                href="/cadastro/dentista"
                class="mb-4 bg-blue-400 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            >
                Cadastro de Dentista
            </a>

            <a
                href="/listagem/usuario"
                class="mb-4 bg-blue-400 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            >
                Listagem de Usuários
            </a>
        </div>
    </body>
</html>
