<!doctype html>
<html lang="pt_BR" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Dashboard</title>

    <link href="https://cdn.jsdelivr.net/npm/@event-calendar/build@2.3.3/event-calendar.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@event-calendar/build@2.3.3/event-calendar.min.js"></script>

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<div id="central">
<a href="/logout">Sair</a>
<h1 th:text="${usuario.pessoa.nome}"></h1>
<p>Você agora está logado. (Dentista)</p>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Nome</th>
        <th scope="col">Horário</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr class="list-group-item" th:each="agendamento : ${agendamentos}">
        <td th:text="${agendamento.getPaciente().getPessoa().getNome()}"></td>
        <td th:text="${#dates.format(agendamento.getDataConsulta(),'dd/MM/yyyy') + ' ' + #dates.format(agendamento.getHoraConsulta(),'HH:mm')}"></td>
        <td><a th:href="@{/agendamento/{id}(id=${agendamento.getId()})}">✓</a></td>
    </tr>
    <li></li>
    </tbody>
</table>
</div>

<div id="calendario-agendamentos"></div>
</body>

<script th:inline="javascript">
    let ec = new EventCalendar(document.getElementById('calendario-agendamentos'), {
        locale: 'pt-BR',
        view: 'timeGridWeek',
        headerToolbar: {
            start: '',
            center: 'title',
            end: ''
        },
        buttonText: {
            close: 'Close',
            dayGridMonth: 'mês',
            listDay: 'list',
            listMonth: 'list',
            listWeek: 'list',
            listYear: 'list',
            resourceTimeGridDay: 'day',
            resourceTimeGridWeek: 'week',
            timeGridDay: 'day',
            timeGridWeek: 'week',
            today: 'hoje'
        },
        allDaySlot: false,
        scrollTime: '09:00:00',
        slotDuration: '01:00',
        events: createEvents(),
        dayMaxEvents: true,
        nowIndicator: true,
        selectable: false,
        editable: false,
        height: '900px',
    });

    function createEvents() {
        let days = [];
        for (let i = 0; i < 7; ++i) {
            let day = new Date();
            let diff = i - day.getDay();
            day.setDate(day.getDate() + diff);
            days[i] = day.getFullYear() + "-" + _pad(day.getMonth()+1) + "-" + _pad(day.getDate());
        }

        var cons = JSON.parse(/*[[${consultas}]]*/);
        console.log(cons);
        var consultas = []
        for(let i=0;i < cons.length; i++){
            let con = cons[i];
            consultas[i] = {start: days[con.day] + ' ' + con.start, end: days[con.day] + ' ' + con.end, title: con.title, color:con.color}
        }
        console.log(consultas);
        return consultas;
    }

    function _pad(num) {
        let norm = Math.floor(Math.abs(num));
        return (norm < 10 ? '0' : '') + norm;
    }

</script>
</html>