<!DOCTYPE html>
<html lang="pt_BR" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:replace="~{fragments :: header('Login')}"></head>

    <body class="bg-sky-100">
        <div class="flex h-screen flex-col items-center justify-center">
            <h1
                class="font-bold text-3xl text-center mb-10 max-w-md text-slate-800"
            >
                Sistema Gerenciador de Consultório Odontológico
            </h1>

            <div class="w-full max-w-xs">
                <form
                    method="POST"
                    th:action="@{/login}"
                    class="bg-white shadow-md px-8 pt-6 pb-8 rounded flex flex-col"
                >
                    <label class="font-medium text-slate-700 block" for="cpf">
                        CPF:
                    </label>
                    <input
                        class="form-input bg-slate-100 text-gray-700 outline-blue-400 mb-4"
                        id="cpf"
                        maxlength="14"
                        name="cpf"
                        placeholder="000.000.000-00"
                        type="text"
                    />

                    <label class="block font-medium text-slate-700" for="senha">
                        Senha:
                    </label>
                    <input
                        class="form-input bg-slate-100 text-gray-700 outline-blue-400 mb-4"
                        id="senha"
                        name="senha"
                        placeholder="********"
                        type="password"
                    />

                    <div class="text-rose-500 mb-4" th:if="${error}">
                        Usuário e/ou senha incorreto
                    </div>

                    <input
                        type="submit"
                        class="self-center mb-4 bg-blue-400 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                        value="Entrar"
                    />

                    <div class="text-slate-500">
                        Não possui um cadastro?
                        <a
                            class="text-blue-400 hover:text-blue-500 underline font-semibold"
                            href="/cadastro/paciente"
                        >
                            Registre-se
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
